@font-face {
    font-family: 'cartoon';
    src: url('./cartoon/FZKATJW--GB1-0.woff') format('woff'),
            url('./cartoon/FZKATJW--GB1-0.ttf') format('truetype'),
            url('./cartoon/FZKATJW--GB1-0.svg#FZKATJW--GB1-0') format('svg');
    font-weight: normal;
    font-style: normal;
}