

@font-face {
  font-family: '方正卡通简体';
  src: url('方正卡通简体.eot');
  src: url('方正卡通简体.woff2') format('woff2'),
       url('方正卡通简体.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

